section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 90vh;
    align-items: center;
    border: 2px dotted black;
}

.red{ 
    order:1;
    flex-grow:1;
    height: 100px;
    background-color: red;
}

.green{
    height: 100px;
    background-color: green;
}

.blue{
    height: 100px;
    background-color: blue;
}

div{
    border: 5px solid black;
    padding: 0.5rem;
    color: white;
}